@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
* {
  font-family: Roboto;
}

body {
  background: #FFFFFF;
}

.page-title {
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  color: #607D8B;
}

.filters-wrapper {
  margin: 0 auto 30px;
  width: 375px;
  padding: 15px 0;
  background: #ECEFF1;
  text-align: center;
}
.filters-wrapper .filter {
  margin: 0 10px;
  padding: 5px 15px;
  list-style-type: none;
  display: inline-block;
  color: #FFFFFF;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.filters-wrapper .filter[data-filter="all"] {
  background: #607D8B;
}
.filters-wrapper .filter[data-filter="web"] {
  background: #2196F3;
}
.filters-wrapper .filter[data-filter="print"] {
  background: #8BC34A;
}
.filters-wrapper .filter[data-filter="video"] {
  background: #F44336;
}

.flex-grid {
  margin: 0 auto;
  max-width: 769px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  margin: 5px;
  height: 150px;
  width: 150px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  line-height: 150px;
}
.project.video {
  background: #F44336;
}
.project.web {
  background: #2196F3;
}
.project.print {
  background: #8BC34A;
}
